.introduction {
    background: url(../media/img/introduction_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 40px;
    display: flex;
}

.introduction__column {
    width: 50%;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__img {
    height: 90px;
    width: 90px;
    display: inline-block;
}

.logo__text {
    display: inline;
}

.logo__title {
    font-style: oblique;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    display: inline;
}

.logo__description {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 9px;
    display: inline;
}

.nav {
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
}

.nav-list {
    display: inline-flex;
    background-color: rgb(245, 197, 6);
    box-shadow: -6px -6px 0px 0px rgba(245, 197, 6, 0.5), -11px -11px 0px 0px rgba(245, 197, 6, 0.5);
}

.nav-list__link_about-us {
    padding-left: 40px;
}

.nav-list__link::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 16px 0 0;
}

.nav-list__item:hover {
    background-color: rgb(71, 71, 71);
}

.nav-list__link_about-us::before {
    background: url(../media/img/about_us_icon.png) no-repeat;
}

.nav-list__link_services::before {
    background: url(../media/img/services_icon.png) no-repeat;
}

.nav-list__link_contact::before {
    background: url(../media/img/contact_icon.png) no-repeat;
    width: 25px;
}

.nav-list__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: inline-block;
    border-right: rgb(220, 177, 5) 2px solid;
}

.nav-list__item:last-child {
    border-right: none;
}

.nav-list__link {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    padding: 12px 22px 12px 22px;
    color: rgb(155, 125, 8);
}

.prime-header {
    margin: 160px 0 160px 0;
    text-align: center;   
}

.header {
    color: white;
}

.header_margin_top-20 {
    margin-top: 20px;
}

.header_color-highlighted {
    color: rgb(245, 197, 6);
}

.header_font_section-header {
    font-family: 'Open Sans', sans-serif;
}

.header_font_size-50 {
    font-size: 50px;
}

.header_font_size-36 {
    font-size: 36px;
}

.header_font_weight-700 {
    font-weight: 700;
}

.header_font_spacing-2 {
    letter-spacing: 3px;
}

.video {
    display: none;
}

.advantages {
    background-color: rgb(248, 232, 232);
}

.advantages__row {
    width: 80%;
    margin: auto;
    display: flex;
}

.advantages__row-column {
    width: 33.33%;
    box-sizing: border-box;
    border-right: rgb(213, 199, 199) 1px solid;
    border-left: rgb(213, 199, 199) 1px solid;
    display: table;
}

.card {
    height: 170px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card__img {
    height: 80px;
}

.card__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 22px;
    padding-top: 12px;
}

.functions {
    background: url(../media/img/functions_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 160px;
}

.functions-content {
    width: 80%;
    margin: auto;
}

.functions-container {
    display: inline-flex;
    margin-top: 40px;
}

.function {
    width: 390px;
    box-sizing: border-box;
    position: relative;
}

.function_description {
    background-color: rgb(236, 158, 3);
    padding: 30px 30px 0 30px;
}

.function__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 32px;
    line-height: 40px;
    color: white;
}

.function__plus {
    font-size: 20px;
    font-weight: 700;
    float: right;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.function_video {
    margin-right: 40px;
}

.function__image {
    width: 100%;
    vertical-align: bottom;
}

.function_twitter {
    background-color: rgb(236, 158, 3);
    padding: 30px 30px 0 30px;
}

.function__number {
    font-weight: 100;
    font-size: 32px;
    color: white;
    position: absolute;
    right: 18px;
    top: 15px;
}

.function__twitter-logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.terms {
    padding-top: 40px;
    background-color: rgb(88, 71, 71);
    padding-bottom: 100px;
}

.terms-header__header {
    text-align: center;
}

.terms-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.terms-img-container {
    margin-right: 70px;
}

.terms-list {
    list-style-image: url('../media/img/circle_bullet.png');
}

.terms-list__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    padding-left: 10px;
    color: rgb(169, 169, 167);
}

.footer {
    background-color: rgb(71, 71, 71);
    box-shadow: 0px -5px 5px 0px rgba(0,0,0,0.75);
    padding-top: 7px;
    padding-bottom: 7px;
}

.logo__img_footer {
    width: 50px;
    height: 50px;
}

.logo__title_footer {
    font-size: 26px;
}